{% extends 'base.html.twig' %}
{% block title %}Account{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block body %}
{% block header %}
    <img class="header-banner" src="{{'images/apropos/banner.jpeg'}}">
    <header class="p-3 text-white">
        <nav >
            <!-- <div class="container"> -->
            <div class="d-flex flex-wrap  justify-content-center justify-content-lg-start">
                <a href="{{ path('app_homepage_home') }}" class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <img src="{{ asset('images/logoDramatik.png') }}" alt="Symfony!"/>
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><button type="button" class="btn btn-g btn-tube"><a href="{{ path('app_homepage_home') }}">Home</a></button></li>
                    <!-- <li><button type="button" class="btn btn-g btn-tube"><a href="index.php?route=drama">Dramas</a></button></li> -->
                    <li class="nav-item dropdown">
                        <button type="button" class="btn btn-g btn-tube">
                            <a class=" dropdown-toggle" href="#" data-bs-toggle="dropdown">  Drama  </a>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button type="button" class="btn btn-g btn-tube">
                                    <a class="dropdown-item" href="#"> Abcdaire</a>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-g btn-tube">
                                    <a class="dropdown-item" href="#">QUIZZ</a>
                                </button>
                            </li>
                        </ul>
                    </li>
                    <li><button type="button" class="btn btn-g btn-tube"><a href="#">SUGGESTION</a></button></li>
                    <li><button type="button" class="btn btn-g btn-tube"><a href="{{ path('app_homepage_apropos') }}">A PROPOS</a></button></li>
                    <li><form>
                            <label>
                                <input class=" search__box" type="text" placeholder="Search">
                            </label>
                            <a href="{{ path('app_homepage_search')}}"><i class="fa fa-search search__icon"></i></a>
                        </form></li>
                </ul>
                <div class="text-end">
                    {#                    <?php if (isset($_SESSION['mail'])) { ?>#}
                    <button type="button" class="btn btn-outline-light me-2 btn-round"><a href="{{ path('app_homepage_account') }}">Account</a></button>
                    <button type="submit" class="btn btn-g btn-round"><a href="#">Log out</a></button>
                    {#                    <?php#}
                    {#                            }#}
                    {#                            else {#}
                    {#                            ?>#}
                    {#                                            <button type="button" class="btn btn-outline-light me-2 btn-round"><a href="{{ path('app_homepage_login') }}">Login</a></button>#}
                    {#                                            <button type="button" class="btn btn-g btn-round"><a href="{{ path('app_homepage_signup') }}">Sign-up</a></button>#}
                    {#                    <?php#}
                    {#                            }#}
                    {#                            ?>#}
                </div>
            </div>
            <!-- </div> -->
        </nav>
    </header>
    <div class="box-profil">

    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="left col-md-4">
                <div id="nav-account">
                    <div class="nav-item-account"><a href="#coor">Changer Mes Coordonnées</a></div>
                    <div class="nav-item-account"><a href="#mquizz">Mes Quizzs</a></div>
                    <div class="nav-item-account"><a href="#mcritk">Mes Critik</a></div>
                    <div class="nav-item-account"><a href="#mscore">Mes Scores</a></div>
                    <div class="nav-item-account">Créer Quizz</div>
                </div>
            </div>
            <div class="right col-md-8"  id="coor">
                <div class="col-md-8 mt-5">Changer Mes Coordonnées</div>
            </div>
            <div class="right col-md-8" id="mcritk">
                <div class="col-md-8 mt-5">Mes Critik</div>
            </div>
            <div class="right col-md-8" id="mscore">
                <div class="col-md-8 mt-5">Mes Scores</div>
            </div>
            <div class="right col-md-8" id="mquizz">
                <div class="row gallery">
                    <div class="col-md-4">
                        <img data-src="holder.js/200x250?theme=thumb" alt="Thumbnail" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17e8c7240af%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17e8c7240af%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1875%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                    </div>
                    <div class="col-md-4">
                        <img data-src="holder.js/200x250?theme=thumb" alt="Thumbnail" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17e8c7240af%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17e8c7240af%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1875%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                    </div>
                    <div class="col-md-4">
                        <img data-src="holder.js/200x250?theme=thumb" alt="Thumbnail" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17e8c7240af%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17e8c7240af%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1875%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                    </div>
                    <div class="col-md-4">
                        <img data-src="holder.js/200x250?theme=thumb" alt="Thumbnail" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17e8c7240af%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17e8c7240af%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1875%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                    </div>
                    <div class="col-md-4">
                        <img data-src="holder.js/200x250?theme=thumb" alt="Thumbnail" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17e8c7240af%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17e8c7240af%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1875%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block javascripts %}

{% endblock %}
