{% extends 'base.html.twig' %}
{% block title %}Reset your password{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('apropos') }}
{% endblock %}

{% block content %}

    <div class="container">
        <h1>Réinitialiser votre mot de passe</h1>
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-g btn-round">Réinitialiser votre mot de passe</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
