{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quizzCreate') }}
{% endblock %}

{% block content %}
    {% if app.request.get("quizz", null) %}
    <p>{{ app.request.get("quizz") }}</p>
    {% endif %}

    <form action="/valideQuizz" method="POST">

        {% for i in range(1, app.request.get("nombre")) %}

        <div class="d-flex flex-column justify-content-center" >

            <div class="d-grid gap-4 m-3 w-75" id="boxcreate{{ i }}" role="group" aria-label="Basic input text group">
{#while compteur inferieur au nmb de question choisi lors de la creation du quizz + submit à chaque question -> nouvelle ligne dans la bdd#}
                <input type="text" name="{{ i }}question" class="tab text-center display-5 my-4" placeholder="Enonce de la question" aria-label="Enonce de la question" aria-describedby="enonce">

                <div class="input-group p-3">
                    <span class="input-group-text" style="background-color: lightgreen" id="Choix1">Correcte</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="Choix1">
                </div>

                <div class="input-group p-3">
                    <span class="input-group-text" id="Choix2">Fausse</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="Choix2">
                </div>

                <div class="input-group p-3">
                    <span class="input-group-text" id="Choix3">Fausse</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="Choix3">
                </div>

                <div class="input-group p-3">
                    <span class="input-group-text" id="Choix4">Fausse</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="Choix4">
                </div>

                <button type="button" class="btn submit{{ i }}">Next Question  <i class="fa fa-arrow-right" id="nxtqst"></i>
                </button>
            </div>
        </div>
        {% endfor %}
    </form>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('quizzCreate') }}
    {{ parent() }}
{% endblock %}