{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quizzCreate') }}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-center" >
    {% if app.request.get("quizz", null) %}
    <p>{{ app.request.get("quizz") }}</p>
    {% endif %}

    {# render dans un loop avec un id different à chaque fois chaque form
        id permet de connaitre le form en cours
    css display defaut 1st and display none les autre
    button click add Event Listener #}
{#        {% for i in range(1, app.request.get("nombre")) %}#}
        {% for form in formlist %}
{{ form_start(form)   }}

            <div class="d-grid gap-4 m-3 w-75" id="boxcreate" role="group" aria-label="Basic input text group">
            {#while compteur inferieur au nmb de question choisi lors de la creation du quizz + submit à chaque question -> nouvelle ligne dans la bdd#}
            {#                <input type="text" name="{{ i }}question" class="tab text-center display-5 my-4" placeholder="Enonce de la question" aria-label="Enonce de la question" aria-describedby="enonce"> #}
                    {{ form_widget(form.question) }}
                <div class="input-group p-3">
                    <span class="input-group-text" style="background-color: lightgreen" id="Choix1">Correcte</span>

                        {{ form_widget(form.choix1) }}
                </div>

                <div class="input-group p-3">
                    <span class="input-group-text" id="Choix2">Fausse</span>
                    {{ form_widget(form.choix2) }}
                </div>

                <div class="input-group p-3">
                    <span class="input-group-text" id="Choix3">Fausse</span>
                    {{ form_widget(form.choix3) }}
                </div>

                <div class="input-group p-3">
                    <span class="input-group-text" id="Choix4">Fausse</span>
                    {{ form_widget(form.choix4) }}
                </div>

                <button type="submit" name="submit" class="btn" onclick="handleNextQuestion()">Next Question  <i class="fa fa-arrow-right" id="nxtqst"></i>
                </button>
            </div>
        </div>

{{ form_end(form) }}

        {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('quizzCreate') }}
    {{ parent() }}
{% endblock %}