{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quizzPlay') }}
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url({{ img ? asset('uploads/imageQuizz/' ~ img)  : "none" }});
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-1">
                <ul class="moving-steps">
                    {% for i in range(0,numberQuestion-1)%}
                        <li></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-11 align-self-center">
                {{ form_start(qstform) }}
                {% for i in range(0,numberQuestion-1)%}
                    <div class="taille flex-column justify-content-center" id="form_question_choice{{ i }}" >
                        <h1 class="text-center my-4">{{ form_label(qstform['choice' ~ i]) }}</h1>
                        <div class="d-grid btn-group-vertical gap-4 p-3"  role="group" aria-label="Basic radio toggle button group">
                            {% for child in qstform['choice' ~ i].children %}
                                {{ form_widget(child, {'attr': {'class': 'btn-check'}}) }}
                                <label class="btn btn-outline-selected px-5" for="{{ child.vars.id }}" >{{ child.vars.label }}</label>
                            {% endfor %}
                        </div>

                        {% if i==numberQuestion-1 %}
                            {{ form_widget(qstform.submit, {'attr': {'class':'btn'}, 'id': 'nxtqst'}) }}
                        {% else %}
                            <button type="button" name="next" id="nxtqst" value="{{ i }}" class="btn">
                                Next Question  <i class="fa fa-arrow-right" ></i>
                            </button>
                        {% endif %}
                    </div>
                {% endfor %}
                {{ form_end(qstform) }}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('quizzPlay') }}

{% endblock %}