{% extends 'base.html.twig' %}

{% block title %}Resultat{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quizzPlay') }}
    <style>
        body {
            background-image: url({{ quizz.qzImg ? asset('uploads/imageQuizz/' ~ quizz.qzImg)  : "none" }});
        }
    </style>
{% endblock %}

{% block content %}
    <div id="success-box">
        <h1>Votre score est de {{ score }} sur {{ quizz.qzFormat }}</h1>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <a type="button" class="btn" href="{{ path('quizzB') }}">Autres quizz</a>
            </div>
            <div class="col-md-auto">
                <a type="button" class="btn" href="{{ path('quizzStart', {'id': quizz.id}) }}">Rejouer</a>
            </div>
        </div>
        <div class="cle">
            <div class="balloon"></div>
            <div class="balloon"></div>
            <div class="balloon"></div>
            <div class="balloon"></div>
            <div class="balloon"></div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('quizzPlay') }}
{% endblock %}