{% extends 'base.html.twig' %}

{% block title %}Resultat{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quizzPlay') }}
    <style>
        body {
            background: center no-repeat url({{ img ? asset('uploads/imageQuizz/' ~ img)  : "none" }});
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="cleop">
        <h1>Votre score est de {{ score }}</h1>
        <div class="cle">
    <div class="balloon"></div>
    <div class="balloon"></div>
    <div class="balloon"></div>
    <div class="balloon"></div>
    <div class="balloon"></div>
        </div>
    </div>
{% endblock %}


    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('quizzPlay') }}

    {% endblock %}