{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quizzPlay') }}

    <style>
        body {
            background-image: url({{ quizz.qzImg ? asset('uploads/imageQuizz/' ~ quizz.qzImg)  : "none" }});
        }
    </style>

{% endblock %}

{% block content %}
    {% if quizz is defined %}
    <div id="quizzbox" class="d-grid justify-content-center gap-4">
        <h1 class="text-center display-2">Quizz</h1>
        <h1 class="text-center display-5">{{ quizz.qzDrama.drName }}</h1>
        <h1 class="text-center display-1">{{ quizz.qzName }}</h1>
        <h1 class="text-center display-6">{{ quizz.qzUser.username }} - {{ quizz.qzCreatedAt|date("d/m/Y") }}</h1>
        <div class="text-center display-1"><a href="{{ path('quest', {'quizzId': quizz.id}) }}"><i class="fa fa-play-circle playcolor"></i></a></div>
    </div>
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('quizzPlay') }}
    {{ parent() }}
{% endblock %}