{% extends 'base.html.twig' %}
{% block title %}Apropos{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('apropos') }}
{% endblock %}
{% block content %}
    <section class="apropos-intro">
        <img class="imgdrama" src="{{ asset('images/apropos/bgtext.jpg') }}" alt="Symfony!">
        <div class="container">
            <div class="row justify-content-md-end">
                <div class="col-lg-6 col-md-12">
                    <h2 class="intro-section-title align-right intro-bold pb-4 intro-fonts-style display-1">


                        Dramatik<br>Critique Blog
                    </h2>
                    <div class="text-wrap">
                        <p class="mbr-text pb-2 intro-waffer align-center intro-fonts-style display-7">
                            Hello bienvenue sur DRAMATIK. Le site de réference pour les dramasLovers ainsi que les curieux. Vous retrouverez ici les
                            Tous les dramas du moment ainsi que l'avis des experts K-drama. Vous aussi en faire parti donc rejoignez nous dans cette
                            folle aventure. Et amusez vous à créer des quizz!</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="team">
        <div class="container">
            <div class="row">
                <div class="title col-12 pb-5 align-center">
                    <h2 class="pb-3 mbr-bold mbr-fonts-style display-2">
                        La TEAM</h2>
                    <h3 class="mbr-section-subtitle pb-3 mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Fusce ornare risus vel tellus tempor tempor. Suspendisse ut lobortis sem, aliquam consequat nisi.
                    </h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="mbr-testimonial align-center col-12 col-md-6 md-pb col-lg-4">
                        <div class="card-group">
                            <div class="testimonial-photo">
                                <img src="{{ asset('images/admin/maanu.jpg') }}" alt="admin">
                            </div>
                            <div class="card-footer">
                                <h3 class="mbr-author-name pb-4 mbr-black mbr-bold mbr-fonts-style display-2">Maanuja SUTHARSAN</h3>
                                <h4 class="mbr-author-desc pb-1 mbr-black mbr-bold mbr-light mbr-fonts-style display-7">
                                    Designer</h4>
                                <h4 class="phone pb-1 mbr-black mbr-fonts-style display-7">00 11 22 33 44</h4>
                                <h4 class="mail pb-1 mbr-black mbr-fonts-style display-7">
                                    maanuja05@gmail.com
                                </h4>
                            </div>
                            <p class="mbr-text mbr-fonts-style display-4">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare risus vel tellus
                                tempor tempor. Suspendisse ut lobortis sem, aliquam consequat nisi. Praesent ac scelerisque
                                nulla. Maecenas sed magna quis leo fringilla molestie.</p>
                        </div>
                </div>

                <div class="mbr-testimonial align-center col-12 col-md-6 md-pb col-lg-4">
                        <div class="card-group">
                            <div class="testimonial-photo">
                                <img src="{{ asset('images/admin/mithu.jpg') }}" alt="admin">
                            </div>
                            <div class="card-footer">
                                <h3 class="mbr-author-name pb-4 mbr-black mbr-bold mbr-fonts-style display-2">
                                    Mithunah MATHIKARAN
                                </h3>
                                <h4 class="mbr-author-desc pb-1 mbr-black mbr-bold mbr-light mbr-fonts-style display-7">
                                    Product Owner</h4>
                                <h4 class="phone pb-1 mbr-black mbr-fonts-style display-7">00 11 22 33 44</h4>
                                <h4 class="mail pb-1 mbr-black mbr-fonts-style display-7">
                                    mithu@gmail.com
                                </h4>
                            </div>
                            <p class="mbr-text mbr-fonts-style display-4">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare risus vel tellus
                                tempor tempor. Suspendisse ut lobortis sem, aliquam consequat nisi. Praesent ac scelerisque
                                nulla. Maecenas sed magna quis leo fringilla molestie.</p>
                        </div>
                </div>

                <div class="mbr-testimonial align-center col-12 col-md-6 md-pb col-lg-4">
                        <div class="card-group">
                            <div class="testimonial-photo">
                                <img src="{{ asset('images/admin/yasmine.jpg') }}" alt="admin">
                            </div>
                            <div class="card-footer">
                                <h3 class="mbr-author-name pb-4 mbr-black mbr-bold mbr-fonts-style display-2">
                                    Yasmine NABBAD</h3>
                                <h4 class="mbr-author-desc pb-1 mbr-black mbr-bold mbr-light mbr-fonts-style display-7">
                                    Designer</h4>
                                <h4 class="phone pb-1 mbr-black mbr-fonts-style display-7">00 11 22 33 44</h4>
                                <h4 class="mail pb-1 mbr-black mbr-fonts-style display-7">
                                    yasmine@gmail.com
                                </h4>
                            </div>
                            <p class="mbr-text mbr-fonts-style display-4">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare risus vel tellus
                                tempor tempor. Suspendisse ut lobortis sem, aliquam consequat nisi. Praesent ac scelerisque
                                nulla. Maecenas sed magna quis leo fringilla molestie.</p>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-apropos">
        <img src="{{ asset('images/apropos/banner.jpg') }}" alt="banner">
    </section>
    <section class="form contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12 mx-auto mbr-form">
                    <!--Formbuilder Form-->
                    <form action="#" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                        <div class="dragArea form-row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h5 class="mbr-fonts-style pb-2 display-2">
                                    Contact Us</h5>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <p class="mbr-fonts-style pb-5 display-7">Voici le fomulaire de contact, Si vous avez des suggestions ou
                                quelquonques idées, écrivé nous!</p>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group align-center">
                                <div class="form-row">
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <input type="text" name="nameFirst" placeholder="Prénom" class="form-control text-multiple" value="">
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <input type="text" name="nameLast" placeholder="Nom" class="form-control text-multiple" value="">
                                    </div>
                                </div>
                            </div>
                            <div data-for="phone" class="col-lg-6 col-md-12 col-sm-12 form-group" style="">
                                <input type="text" name="phone" placeholder="00 00 00 00 00" class="form-control display-7" value="">
                            </div>
                            <div data-for="email" class="col-lg-6 col-md-12 col-sm-12 form-group" style="">
                                <input type="email" name="email" placeholder="Email" class="form-control display-7" value="">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12" data-for="message">
                                <textarea name="message" placeholder="Message" class="form-control display-7"></textarea>
                            </div>
                            <div class="col-auto m-auto pt-5"><button type="submit" class="btn btn-submit display-7">ENVOYER</button></div>
                        </div>
                    </form>
                    <!--Formbuilder Form-->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}