<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Homepage{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>

<body id="bootstrap-overrides" class="bglight">
{% block body %}
    <header>

        {% block nav %}
            <nav class="p-3 text-white">
                <!-- <div class="container"> -->
                <div class="d-flex flex-wrap  justify-content-center justify-content-lg-start">
                    <a href="{{ path('home') }}" class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <img src="{{ asset('images/logoDramatik.png') }}" alt="Symfony!"/>
                    </a>
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><button type="button" class="btn btn-g btn-tube"><a href="{{ path('home') }}">Home</a></button></li>
                        <li class="nav-item dropdown">
                            <button type="button" class="btn btn-g btn-tube">
                                <a class=" dropdown-toggle" href="{{  path('drama') }}" data-bs-toggle="dropdown">Drama</a>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <button type="button" class="btn btn-g btn-tube">
                                        <a class="dropdown-item" href="{{ path('abcdaire') }}"> Abcdaire</a>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-g btn-tube">
                                        <a class="dropdown-item" href="{{  path('drama') }}">CATALOGUE</a>
                                    </button>
                                </li>
                            </ul>
                        </li>
                        <li><button type="button" class="btn btn-g btn-tube"><a href="{{ path('quizzB') }}">QUIZZ</a></button></li>
                        <li><button type="button" class="btn btn-g btn-tube"><a href="{{ path('apropos') }}">A PROPOS</a></button></li>
                        <li><form>
                                <label>
                                    <input class=" search__box" type="text" placeholder="Search">
                                </label>
                                <a href="{{ path('app_homepage_search')}}"><i class="fa fa-search search__icon"></i></a>
                            </form>
                        </li>
                    </ul>
                    <div class="text-end">
                        {%if is_granted('ROLE_ADMIN')  %}
                            <button type="button" class="btn btn-outline-light me-2 btn-round"><a href="{{ path('admin_admin') }}">Account</a></button>
                            <button type="submit" class="btn btn-g btn-round"><a href="{{ path('app_logout') }}">Log out</a></button>
                        {%elseif is_granted('ROLE_USER') %}
                            <button type="button" class="btn btn-outline-light me-2 btn-round"><a href="{{ path('account') }}">Account</a></button>
                            <button type="submit" class="btn btn-g btn-round"><a href="{{ path('app_logout') }}">Log out</a></button>
                        {% else %}
                            <button type="button" class="btn btn-outline-light me-2 btn-round"><a href="{{ path('app_login') }}">Login</a></button>
                            <button type="button" class="btn btn-g btn-round"><a href="{{ path('app_register') }}">Sign-up</a></button>
                        {% endif %}
                    </div>
                </div>
                <!-- </div> -->
            </nav>
        {% endblock %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>


    {% block footer %}
        <!--------------------------------------------- TOP BUTTON ------------------------->
        <div class="top">
            {% block flowbutton %}
                <a href="#top" title="Retourner en Haut">
                    <i class="fa fa-arrow-circle-up fa-4x"></i>
                </a>
            {% endblock %}
        </div>
        <!--------------------------------------------- TOP BUTTON FIN------------------------>

        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top border-dark">
            <p class="col-md-4 mb-0 text-muted">© 2021 Maanuja, Mithunah, Tous les droits reservés.</p>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="{{ path('home') }}" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="{{ path('drama') }}" class="nav-link px-2 text-muted">Dramas</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Suggestion</a></li>
                <li class="nav-item"><a href="{{ path('apropos') }}" class="nav-link px-2 text-muted">Apropos</a></li>
            </ul>
        </footer>
        </div>
    {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>

