{% extends 'base.html.twig' %}

{% block title %}Quizzes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quizzPlay') }}
{% endblock %}

{% block nav %}
    <div class="img-top">
        {{ parent() }}
    </div>
{% endblock %}

{% block content %}
    <div class="apercu row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <div class="image">
                    <img src="{{ asset('images/happibanner.jpg') }}"  alt="...">
                </div>
                <div class="card-title">
                    <a type="button" class="btn btn-outline-dark" href="{{ path('home') }}"> PLAY <i class="fa fa-play-circle"></i></a>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="image">
                    <img src="{{ asset('images/iontbobanner.jpg') }}"  alt="...">
                </div>
                <div class="card-title">
                    <a type="button" class="btn btn-outline-dark" href="{{ path('home') }}"> PLAY <i class="fa fa-play-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="image">
                    <img src="{{ asset('images/allofusaredeadQB.jpg') }}"  alt="...">
                </div>
                <div class="card-title">
                    <a type="button" class="btn btn-outline-dark" href="{{ path('home') }}"> PLAY <i class="fa fa-play-circle"></i></a>
                </div>
            </div>
        </div>
    </div>

    {% if not app.session.get('name')  %}
    <h4 class="alert alert-primary m-4 bg-transparent"> Veuillez vous connecter/inscrire pour profiter de nos fonctionnalités </h4>
    {% endif %}

    <div class="deck row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="{{ asset('images/happibanner.jpg') }}" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h2 class="card-title">PLAY</h2>
                    <a href="{{ path('quizzStart') }}"><i class="fa fa-play-circle-o"></i></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{ asset('images/iontbobanner.jpg') }}" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h2 class="card-title">PLAY</h2>
                    <a href="{{ path('quizzStart') }}"><i class="fa fa-play-circle-o"></i></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{ asset('images/allofusaredeadQB.jpg') }}" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h2 class="card-title">PLAY</h2>
                    <a href="{{ path('quizzStart') }}"><i class="fa fa-play-circle-o"></i></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{ asset('images/snowdropbanner.jpg') }}" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h2 class="card-title">PLAY</h2>
                    <a href="{{ path('quizzStart') }}"><i class="fa fa-play-circle-o"></i></a>
                </div>
            </div>
        </div>
    </div>
    <nav class="m-5" aria-label="quizz navigation">
        <ul class="pagination  justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>


{% endblock %}