{% extends 'base.html.twig' %}

{% block title %}Quizzes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quizzBook') }}
{% endblock %}

{% block nav %}
    <div class="img-top">
        {{ parent() }}
        {% if created is defined and created == "created" %}
            <div id="created" class="toast success-box m-3" role="alert" aria-live="assertive" aria-atomic="true"  data-bs-autohide="false">
                <div class="toast-header">
                    <strong class="me-auto">Creation de Quizz</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Vous avez soumis votre quizz ! Il sera accessible à tous une fois validé par nos admins. Merci !
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block content %}

    {% if recent is defined %}
        <div class="apercu row row-cols-1 row-cols-md-3 g-4">
            {%  for top in recent %}
                <div class="col">
                    <div class="card">
                        <div class="image">
                            <img src="{{ asset('uploads/imageQuizz/' ~ top.qzImg) }}"  alt="...">
                        </div>
                        <div class="card-title">
                            <a type="button" class="btn btn-outline-dark" href="{{ path('quizzStart',{'id': top.id}) }}"> PLAY <i class="fa fa-play-circle"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}


    {% if not (is_granted('ROLE_USER') or is_granted('ROLE_ADMIN'))  %}
        <h4 class="alert alert-primary m-4 bg-transparent"> Veuillez vous connecter/inscrire pour profiter de nos fonctionnalités </h4>
    {% endif %}

    {% if quizzes is defined %}
        <div class="deck row row-cols-1 row-cols-md-3 g-4">
            {%  for quizz in quizzes %}
                <div class="col">
                    <div class="card">
                        <img src="{{ asset('uploads/imageQuizz/' ~ quizz.qzImg) }}" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h2 class="card-title">PLAY</h2>
                            <a href="{{ path('quizzStart',{'id': quizz.id}) }}"><i class="fa fa-play-circle-o"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <nav class="m-5" aria-label="quizz navigation">
        {{ knp_pagination_render(quizzes) }}
    </nav>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('quizzBook') }}
{% endblock %}