{% extends 'base.html.twig' %}
{% block title %}Search{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('search') }}
{% endblock %}
{% block content %}

    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 m-3">Votre Recherche:{{ resultDr.params.search ??none }}
                    {{ resultQz.params.search ??none }}
                </h1>
                <hr class="my-4">
            </div>
        </div>
    </div>

    <div class="container justify-content-center">
        {% if resultDr is defined %}
        {% for rs in resultDr %}
            <div class="card mb-3 flex-md-row box-shadow">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="img-fluid rounded-start" src="{{  asset('uploads/Drama/'~rs.drImg) }}" alt="{{ rs.drName }}" data-holder-rendered="true">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><strong class="d-inline-block mb-2 text-primary">{{ rs.drGenre.grName }}</strong>
                                    <h3 class="mb-0">
                                        <a class="text-dark" href="#">{{ rs.drName }}</a>
                                    </h3></h5>
                                <p class="card-text">{{ rs.drPlot }}</p>
                                <p class="card-text"><small class="text-muted">{{ rs.drDate|date("m/d/Y") }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            {{ knp_pagination_render(resultDr, null, {}, {'align': 'center'}) }}
{% elseif resultQz is defined %}
        {% for rs in resultQz %}
            <div class="card mb-3 flex-md-row box-shadow">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="img-fluid rounded-start" src="{{ asset('uploads/imageQuizz/'~rs.qzImg) }}" alt="{{ rs.qzName }}" data-holder-rendered="true">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><strong class="d-inline-block mb-2 text-primary">{{ rs.qzDrama.drName }}</strong>
                                    <h3 class="mb-0">
                                        <a class="text-dark" href="#">{{ rs.qzName  }}</a>
                                    </h3></h5>
                                <p class="card-text">{{ rs.qzFormat~' questions' }}</p>
                                <p class="card-text"><small class="text-muted">{{ rs.qzCreatedAt|date("m/d/Y") }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {{ knp_pagination_render(resultQz, null, {}, {'align': 'center'}) }}
    {% else %}
        <div class="alert alertempty" role="alert">
            Il n'y a pas de résultat correspondant à votre recherche.
        </div>
    </div>
{% endif %}
{% endblock %}
