{% extends 'base.html.twig' %}
{% block title %}Search{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('search') }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Data pour : {{ word }}</h1>
                {% for message in app.flashes('NoData') %}
                    <div class="alert alert-danger ">
                        <p class="lead">{{ message }}</p>
                    </div>
                {% endfor %}
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row-cols-md-1">
            {% for data in resultat %}
                <div class="col-md-8 offset-md-1">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <img class="card-img-right flex-auto d-none d-md-block" style="height: 275px; width: 100%; display: block;" alt="Thumbnail [200x250]" src="{{ asset('uploads/Drama/') }}{{ data.drImg }}" data-holder-rendered="true">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-primary"> {{ data.drGenre.grName }}</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="#">{{ data.drName }}</a>
                            </h3>
                            <div class="mb-1 text-muted">{{ data.drDate| date('Y') }} - {{ data.drDateEnd|date('Y') }}</div>
                            <p class="card-text mb-auto"><p>{{ data.drplot | striptags | slice(0, 200) }}</p>
                            <a href="{{ path('dramaview',{'drName': data.drName , 'id': data.id}) }}">Lire Fiche</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
