{% extends 'base.html.twig' %}

{% block title %}{{ drama.drName }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dramaView') }}
    {{ encore_entry_link_tags('quizzBook') }}


{% endblock %}

{% block content %}
    <img class="header-banner" src="{{ asset('uploads/Drama/') }}{{ drama.drBannerImg }}" alt="Banner">
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-8 blog-main">
                    <h3 class="pb-3 mb-4 font-italic border-bottom">
                        GENRE - {{ drama.drGenre.grName }}
                    </h3>
                    <div class="blog-post">
                        <h2 class="blog-post-title">{{ drama.drName }}
                        </h2>
                        <p class="blog-post-meta">{{ drama.createdAt|date }} <a href="#">{{ drama.drAdminId.usFname }}</a></p>
                        <hr>
                        <p>{{  drama.drPlot }}</p>
                    </div>
                    <hr>
                    <ul class="list">
                        <li class="list-item">
                            <b class="inline">Nombre d'épisodes : </b>{{ drama.drNbEp }}
                        </li>
                        <li class="list-item">
                            <b class="inline">Note général : </b>{{ drama.drRate }}/10
                        </li>
                        <li class="list-item">
                            <b class="inline">Période de diffusion : </b>{{ drama.drDate|date('d-m-Y') }} - {{ drama.drDateEnd|date('d-m-Y') }}
                        </li>
                        <li class="list-item">
                            <b class="inline">Director : </b>Yoo Je Won
                        </li>
                        <li class="list-item">
                            <b class="inline">Genre : </b>{{ drama.drGenre.grName }}
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 blog-sidebar">
                    <div class="p-3 mb-3 bg-light rounded">
                        <img src="{{ asset('uploads/Drama/') }}{{ drama.drImg }}" style="height: 100%; width: 100%;" alt="DramaImg">
                    </div>
                </div>
            </div>
        </section>
        <h3 class="pb-3 mb-4 font-italic">
            Video Trailer
        </h3>
        <hr>
        <section>
            <iframe width="100%" height="500" src="{{ drama.drVideo }}" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        <hr>
        <section>
            <ul class="nav nav-tabs">
                {% if 'comment' in app.request.uri %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('comments',{'drName' : drama.drName, 'id': drama.Id}) }}">Commentaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('critique',{'drName' : drama.drName, 'id': drama.Id}) }}">Critik</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('comments',{'drName' : drama.drName, 'id': drama.Id}) }}">Commentaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('critique',{'drName' : drama.drName, 'id': drama.Id}) }}">Critik</a>
                    </li>
                {% endif %}
            </ul>
            {% if 'comment' in app.request.uri %}
                <div class="container">
                    <h3 class="heading">Ajouter un commentaire :) !</h3>
                    <div class="container">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control status-box" rows="3" placeholder="Ecrivez ici ..."></textarea>
                            </div>
                            <div class="button-group pull-right">
                                <p class="counter">250</p>
                                <a href="#" class="btn btn-primary">Post</a>
                            </div>
                        </form>
                        <ul class="posts">
                        </ul>
                    </div>
                    <div class="right" id="mcritk">
                        <div class="comment">
                            <img class="pull-left comment-object" src="{{ asset('images/admin/mithu.jpg') }}" alt="">
                            <div class="comment-body">
                                <h2 class="comment-heading">Maanu User</h2>
                                <h4 class="comment-heading">Maanu User</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <div class="comment-detail pull-left">
                                    <i class="fa fa-calendar"></i>07/02/2022
                                </div>
                                <div class="comment-detail pull-right">
                                    <i class="fa fa-thumbs-up"></i>10
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                {% for message in app.flashes('login plz') %}
                    <div class="alert alert-danger ">
                        {{ message }}
                    </div>
                {% endfor %}
            <div class="container">
                <h3 class="heading">Ajouter un Critique :) !</h3>
                <div class="container">
                    {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_row(form.crTitle, {'attr': {'class':'form-control' , 'placeholder': 'Titre Commentaire'}}) }}
                            {{ form_row(form.crCritic, {'attr': {'class': 'form-control', 'placeholder': 'Titre Commentaire'}}) }}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group align-center">
                            <div class="form-row">
                                <div class="col-lg-3 col-md-12 col-sm-12 form-group">
                                    {{ form_row(form.crStory, {'attr': {'class': 'form-control text-multiple'}}) }}
                                </div>
                                <div class="col-lg-3 col-md-12 col-sm-12 form-group">
                                    {{ form_row(form.crMusic, {'attr': {'class': 'form-control text-multiple'}}) }}
                                </div>
                                <div class="col-lg-3 col-md-12 col-sm-12 form-group">
                                    {{ form_row(form.crCasting, {'attr': {'class': 'form-control text-multiple'}}) }}
                                </div>
                                <div class="col-lg-3 col-md-12 col-sm-12 form-group">
                                    {{ form_row(form.crRate, {'attr': {'class': 'form-control text-multiple'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="button-group pull-right">
                            <button type="submit" class="btn btn-submit display-7">ENVOYER</button>
                        </div>
                    {{ form_end(form) }}
                    <ul class="posts">
                    </ul>
                </div>
                {% for critik in critiques %}
                    {% if critik.crDrama.drName == drama.drName %}
                        <div class="right" id="mcritk">
                            <div class="comment">
                                <img class="pull-left comment-object" src="{{ asset('uploads/imageUser/') }}{{ critik.crUser.UsImg }}" alt="">
                                <div class="comment-body">
                                    <h2 class="comment-heading">{{ critik.crUser.username }}</h2>
                                    <h4 class="comment-heading">{{ critik.crTitle }}</h4>
                                    <h4 class="comment-heading">Note : {{ critik.crRate }}/10</h4>
                                    <p>{{ critik.crCritic }}</p>
                                    <div class="comment-detail pull-left">
                                        <i class="fa fa-calendar"></i>{{ critik.crCreatedAt | date}}
                                    </div>
                                    <div class="comment-detail pull-right">
                                        <i class="fa fa-thumbs-up"></i>{{ critik.crLike }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </section>

        <h3 class="pb-3 mb-2 font-italic">
            Quizzes
        </h3>

{#        <section>
            <div class="album py-5 bg-light">
                {% if quizzes is defined %}
                    <div class="deck row row-cols-1 row-cols-md-3 g-4">
                    {% for quizz in quizzes %}
                        <div class="col">
                            <div class="card">
                                <img src="{{ asset('uploads/imageQuizz/' ~ quizz.qzImg) }}" class="card-img-top" alt="...">
                                <div class="card-img-overlay">
                                    <h2 class="card-title">PLAY</h2>
                                    <a href="{{ path('quizzStart',{'id': quizz.id}) }}"><i class="fa fa-play-circle-o"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </section>#}

        {% if quizzes is defined and quizzes is not empty %}
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-ride="carousel">

            <div class="carousel-inner">
                {% for quizz in quizzes %}
                    {% if loop.first %}
                        <div class="carousel-item active">
                            <div class="deck row row-cols-auto">
                    {% elseif loop.index is divisible by(4) %}
                        <div class="carousel-item">
                            <div class="deck row row-cols-auto">
                    {% endif %}
                                <div class="col">
                                    <div class="card">
                                        <img src="{{ asset('uploads/imageQuizz/' ~ quizz.qzImg) }}" class="card-img-top" alt="...">
                                        <div class="card-img-overlay">
                                            <h2 class="card-title">PLAY</h2>
                                            <a href="{{ path('quizzStart',{'id': quizz.id}) }}"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                                {% if loop.index is divisible by(3) or loop.last %}
                            </div>
                        </div>
                                {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                {% set indicator = 1 %}
                {% for quizz in quizzes %}
                    {% if loop.index is divisible by(4)  %}
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ indicator }}" aria-label="Slide {{ indicator+1 }}"></button>
                        {% set indicator = indicator+1 %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% else %}
            <div class="alert noquiz" role="alert">
                Il n'y a pas encore de Quiz pour ce drama.
            </div>
        {% endif %}


{#        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>#}

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function findTotal() {
            var tot = 0;
            for (let i = 0; i < 3; i++) {
                let arr = document.getElementsByClassName('text-multiple')[i].value;
                if (parseFloat(arr))
                    tot += parseFloat(arr);
            }
            tot = tot / 3;
            parseFloat(tot).toFixed(2);
            console.log(tot);

            document.getElementById('critique_form_crRate').value = tot;
        }
    </script>
{% endblock %}
