{% extends 'user/user.html.twig'%}
{% block title %}Modifer Profil{% endblock %}
{% block rightbox %}
    <div class="right col-md-9 coord"  id="">
        <div class="col-lg-6 col-md-12 mx-auto mbr-form">
            <h2 class="display-5">Changer Mes Coordonnées</h2>
            <!--Formbuilder Form-->
                {{ form_start(form_userinfo) }}
                <div class="form-row">
                    <div class="col-lg-12 col-md-12 col-sm-12" data-for="pseudo">
                        {{ form_row(form_userinfo.username, {'attr': {'class': 'form-control display-7', 'placeholder': 'Pseudo'}}) }}
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group align-center">
                        <div class="form-row">
                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                {{ form_row(form_userinfo.UsLname, {'attr': {'class': 'form-control text-multiple', 'placeholder': 'Nom'}}) }}
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                {{ form_row(form_userinfo.UsFname, {'attr': {'class': 'form-control text-multiple', 'placeholder': 'Prénom'}}) }}
                            </div>
                        </div>
                    </div>
                    <div data-for="email" class="col-lg-12 col-md-12 col-sm-12">
                        {{ form_row(form_userinfo.email, {'attr': {'class': 'form-control display-7', 'placeholder': 'Email'}}) }}
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12" data-for="file">
                        {{ form_row(form_userinfo.UsImg, {'attr': {'class': 'form-control display-7','onchange': "loadFile(event)"}}) }}
                        {%if app.user.UsImg != null %}
                            <img class="photo pull-right" src="{{ asset('uploads/imageUser/') }}{{ app.user.UsImg }}" id="output"/>
                        {% else %}
                            <img class="photo pull-right" src="{{ asset('images/admin/mithu.jpg') }}" id="output"/>
                        {% endif %}
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12" data-for="file">
                        {{ form_row(form_userinfo.UsBanImg, {'attr': {'class': 'form-control display-7','onchange': "loadFile2(event)"}}) }}
                        {%if app.user.UsBanImg != null %}
                            <img class="photo pull-right" src="{{ asset('uploads/imageUser/') }}{{ app.user.UsBanImg }}" id="output2"/>
                        {% else %}
                            <img class="photo pull-right" src="{{ asset('images/admin/mithu.jpg') }}" id="output2"/>
                        {% endif %}
                    </div>
                    <div class="col-auto m-auto pt-5">
                        <button type="submit" class="btn btn-submit display-7">ENVOYER</button>
                    </div>
                </div>
                {{ form_end(form_userinfo) }}
            <!--Formbuilder Form-->
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var loadFile = function (event) {
            var image = document.getElementById("output");
            image.src = URL.createObjectURL(event.target.files[0]);
        };

        var loadFile2 = function (event) {
            var image2 = document.getElementById("output2");
            image2.src = URL.createObjectURL(event.target.files[0]);
        };

    </script>
{% endblock %}